.kuk {
  width: 1240px;
}
.huhu {
  font-family: Poppins;
  font-size: 75px;
  font-weight: 600;
  line-height: 90px;
  letter-spacing: -3px;
  text-align: center;
  padding-bottom: 30px;
  color: #4f37d6;
}
